<!DOCTYPE html>
<html lang="en">
    <head>        
        <% include ./partial/head %>                                    
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <% include ./partial/side_nav_bar %> 
            
            <% 
            switch(page){
                case "index": {include ./pages/dashboard} break;
                case "setting": {include ./pages/settings} break;                
            } 
            %>
        </div>
        <!-- END PAGE CONTAINER -->

            <% include ./partial/sign_out %> 

            <% include ./partial/scripts %>         
    </body>
</html>






