<!DOCTYPE html>
<html lang="en">
    <head>        
        <% include ./partial/head %>                                    
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <% include ./partial/side_nav_bar %> 
            
            <% include ./pages/settings %>
        </div>
        <!-- END PAGE CONTAINER -->

            <% include ./partial/sign_out %> 

            <% include ./partial/scripts %>         
    </body>
</html>






